body {
  padding: 0px;
  margin: 0px;
  background-image: url('tu3.jpg');
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
}

.a1 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1.8rem;
  align-items: center;
}

.a2 {
  color: #bdbdbd;
}

main {
  padding-top: 1.2rem;
  position: fixed;
  width: 100%;
  margin-top: 3.2rem;
}

.a3 {
  display: flex;
  justify-content: space-between;
}

.tubiao {
  font-size: 3rem;
  padding: 0.6rem;
}

.tubiao2 {
  padding: 1rem;
  font-size: 1.2rem;
}

.wenzi {
  padding: 0.5rem;
  line-height: 1.8rem;
  color: #ededed;
}

.name {
  font-size: 1.2rem;
}

.time {
  font-size: 0.8rem;
}

.neirong {
  font-size: 1rem;
  padding: 0.1rem 0.8rem 0.8rem 0.8rem;
  color: #ededed;
}

.tupian {
  display: flex;
}

.tupian>img {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.a4 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  font-size: 1.2rem;
}