.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';
  /* project id 1580348 */
  src: url('//at.alicdn.com/t/font_1580348_e6vphstfo9e.eot');
  src: url('//at.alicdn.com/t/font_1580348_e6vphstfo9e.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1580348_e6vphstfo9e.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1580348_e6vphstfo9e.woff') format('woff'),
    url('//at.alicdn.com/t/font_1580348_e6vphstfo9e.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1580348_e6vphstfo9e.svg#iconfont') format('svg');
}