.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';
  /* project id 1552271 */
  src: url('//at.alicdn.com/t/font_1552271_ovyj66yhjp.eot');
  src: url('//at.alicdn.com/t/font_1552271_ovyj66yhjp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1552271_ovyj66yhjp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1552271_ovyj66yhjp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1552271_ovyj66yhjp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1552271_ovyj66yhjp.svg#iconfont') format('svg');
}